.main-bg {
    /* we're separating this class, because we can state 
    in any another classes in html */
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    /* 8rem está definindo o passing no top */
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}